# Virtual Environment 
venv/
env/
ENV/
Lib/
Scripts/
pyvenv.cfg

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/

# Word Docs 
*.docx
*.doc

# Personal API Keys / Secrets
.env
